In [1]:
import pandas as pd

# load two csv files to obtain 'schools' and 'data_dict' datasets

schools = pd.read_csv('MA_Public_Schools_2017.csv')
column_names = pd.read_csv('MA_Public_Schools_datadict.csv')
schools.head()

,School Code,School Name,School Type,Function,Contact Name,Address 1,Address 2,Town,State,Zip,...,MCAS_10thGrade_English_Incl. in SGP(#),Accountability and Assistance Level,Accountability and Assistance Description,School Accountability Percentile (1-99),Progress and Performance Index (PPI) - All Students,Progress and Performance Index (PPI) - High Needs Students,District_Accountability and Assistance Level,District_Accountability and Assistance Description,District_Progress and Performance Index (PPI) - All Students,District_Progress and Performance Index (PPI) - High Needs Students
0,10505,Abington High,Public School,Principal,Teresa Sullivan-Cruz,201 Gliniewicz Way,NaN,Abington,MA,2351,...,111.0,Level 1,Meeting gap narrowing goals,42.0,76.0,75.0,Level 3,One or more schools in the district classified...,63.0,60.0
1,10003,Beaver Brook Elementary School,Public School,Principal,Catherine Zinni,1 Ralph Hamlin Lane,NaN,Abington,MA,2351,...,NaN,Level 3,Among lowest performing 20% of subgroups,34.0,69.0,73.0,Level 3,One or more schools in the district classified...,63.0,60.0
2,10002,Center Elementary School,Public School,Principal,Lora Monachino,201 Gliniewicz Way,NaN,Abington,MA,2351,...,NaN,Insufficient data,NaN,NaN,NaN,NaN,Level 3,One or more schools in the district classified...,63.0,60.0
3,10405,Frolio Middle School,Public School,Principal,Matthew MacCurtain,201 Gliniewicz Way,NaN,Abington,MA,2351,...,NaN,Level 2,Not meeting gap narrowing goals,40.0,63.0,64.0,Level 3,One or more schools in the district classified...,63.0,60.0
4,10015,Woodsdale Elementary School,Public School,Principal,Jonathan Hawes,128 Chestnut Street,NaN,Abington,MA,2351,...,NaN,Level 2,Not meeting gap narrowing goals,52.0,65.0,67.0,Level 3,One or more schools in the district classified...,63.0,60.0

In [2]:
# select the features (necessary columns for prediction)

filtered = schools[['School Name','Town','Grade','% English Language Learner','% Students With Disabilities',
                    '% High Needs', '% African American', '% Asian', '% Hispanic', '% White', '% Native American',
                    '% Native Hawaiian, Pacific Islander', '% Multi-Race, Non-Hispanic', 'Average Class Size',
                    '% Males', '% Females', 'Average Expenditures per Pupil']]
filtered

,School Name,Town,Grade,% English Language Learner,% Students With Disabilities,% High Needs,% African American,% Asian,% Hispanic,% White,% Native American,"% Native Hawaiian, Pacific Islander","% Multi-Race, Non-Hispanic",Average Class Size,% Males,% Females,Average Expenditures per Pupil
0,Abington High,Abington,"09,10,11,12",2.4,9.7,28.8,2.2,1.5,9.1,85.8,0.2,0.2,0.9,15.8,45.6,54.4,13270.84
1,Beaver Brook Elementary School,Abington,"01,02,03,04",7.2,13.3,37.1,1.9,1.9,6.7,88.4,0.5,0.2,0.3,24.6,50.2,49.8,13270.84
2,Center Elementary School,Abington,"PK,K",3.0,21.2,34.0,3.9,3.0,8.4,84.7,0.0,0.0,0.0,14.6,54.2,45.8,13270.84
3,Frolio Middle School,Abington,"07,08",1.8,13.1,30.8,2.4,1.8,6.1,89.3,0.0,0.0,0.3,21.1,53.4,46.6,13270.84
4,Woodsdale Elementary School,Abington,"05,06",2.0,10.8,30.6,2.0,1.4,4.2,92.1,0.0,0.0,0.3,30.4,50.7,49.3,13270.84
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1856,Pioneer Charter School of Science II (PCSS-II),Saugus,"07,08,09,10,11,12",25.5,11.5,53.4,35.1,11.5,21.1,29.8,1.2,0.0,1.2,18.8,45.0,55.0,NaN
1857,Springfield Preparatory Charter School,Springfield,"K,01,02",25.8,4.3,76.7,24.5,1.8,64.4,6.1,0.0,0.0,3.1,27.0,50.9,49.1,NaN
1858,TEC Connections Academy Commonwealth Virtual S...,East Walpole,"K,01,02,03,04,05,06,07,08,09,10,11,12",2.1,20.4,49.9,6.3,3.3,12.2,70.5,0.4,0.2,7.1,25.7,43.4,56.6,NaN
1859,UP Academy Charter School of Dorchester,Boston,"PK,K,01,02,03,04,05,06,07,08",21.1,19.5,78.0,56.7,1.6,38.0,1.1,0.4,0.0,2.2,21.9,49.2,50.8,NaN
1860,UP Academy Charter School of Springfield,Boston,"06,07,08",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
len(filtered[filtered['Grade']=='PK,K,01,02,03,04'])

42

In [4]:
import math

# Checking which columns have missing values

filtered.info()
filtered.isnull().mean()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1861 entries, 0 to 1860
Data columns (total 17 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   School Name                          1861 non-null   object
 1   Town                                 1861 non-null   object
 2   Grade                                1860 non-null   object
 3   % English Language Learner           1850 non-null   float64
 4   % Students With Disabilities         1850 non-null   float64
 5   % High Needs                         1850 non-null   float64
 6   % African American                   1850 non-null   float64
 7   % Asian                              1850 non-null   float64
 8   % Hispanic                           1850 non-null   float64
 9   % White                              1850 non-null   float64
 10  % Native American                    1850 non-null   float64
 11  % Native Hawaiian, Pacific Islander  1850 non-null   float64
 12  % Multi-Race, Non-Hispanic           1850 non-null   float64
 13  Average Class Size                   1823 non-null   float64
 14  % Males                              1850 non-null   float64
 15  % Females                            1850 non-null   float64
 16  Average Expenditures per Pupil       1768 non-null   float64
dtypes: float64(14), object(3)
memory usage: 247.3+ KB

School Name                            0.000000
Town                                   0.000000
Grade                                  0.000537
% English Language Learner             0.005911
% Students With Disabilities           0.005911
% High Needs                           0.005911
% African American                     0.005911
% Asian                                0.005911
% Hispanic                             0.005911
% White                                0.005911
% Native American                      0.005911
% Native Hawaiian, Pacific Islander    0.005911
% Multi-Race, Non-Hispanic             0.005911
Average Class Size                     0.020419
% Males                                0.005911
% Females                              0.005911
Average Expenditures per Pupil         0.049973
dtype: float64

In [7]:
# convert the 'Grade' column values to string
filtered['Grade'] = filtered['Grade'].astype(str)

# select only elementary schools from the set of all schools
elem_schools = filtered.loc[filtered['Grade'].apply(lambda x: set(['K','01','02','03','04','05']).issubset(x.split(',')))
                            & (filtered['Grade'].apply(lambda x: len(x.split(','))) == 6)]

elem_schools

C:\Users\rassu\AppData\Local\Temp\ipykernel_12152\1699862772.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered['Grade'] = filtered['Grade'].copy().astype(str)

,School Name,Town,Grade,% English Language Learner,% Students With Disabilities,% High Needs,% African American,% Asian,% Hispanic,% White,% Native American,"% Native Hawaiian, Pacific Islander","% Multi-Race, Non-Hispanic",Average Class Size,% Males,% Females,Average Expenditures per Pupil
25,Bancroft Elementary,Andover,"K,01,02,03,04,05",4.2,16.5,23.8,3.2,6.6,5.9,78.4,0.3,0.0,5.6,22.1,51.8,48.2,15601.70
27,Henry C Sanborn Elementary,Andover,"K,01,02,03,04,05",10.0,14.2,28.3,1.6,28.1,4.5,63.0,0.8,0.0,2.1,22.1,54.9,45.1,15601.70
28,High Plain Elementary,Andover,"K,01,02,03,04,05",13.2,14.0,28.5,2.7,29.1,6.6,58.3,0.0,0.0,3.3,23.7,53.6,46.4,15601.70
30,South Elementary,Andover,"K,01,02,03,04,05",6.9,15.6,25.8,0.0,18.5,4.9,75.7,0.2,0.2,0.6,21.9,50.9,49.1,15601.70
31,West Elementary,Andover,"K,01,02,03,04,05",5.0,20.9,30.5,3.0,14.6,6.8,72.5,0.2,0.0,3.0,22.9,51.7,48.3,15601.70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1788,Linscott-Rumford,Woburn,"K,01,02,03,04,05",8.0,11.2,42.9,8.5,21.4,6.7,59.4,0.0,0.0,4.0,18.4,46.0,54.0,15158.26
1789,Malcolm White,Woburn,"K,01,02,03,04,05",7.5,8.4,43.5,6.5,5.6,11.8,71.1,0.6,0.0,4.3,20.4,46.6,53.4,15158.26
1790,Mary D Altavesta,Woburn,"K,01,02,03,04,05",10.2,13.4,50.8,9.8,19.9,16.3,48.4,1.2,0.8,3.7,17.1,55.3,44.7,15158.26
1793,Wyman,Woburn,"K,01,02,03,04,05",3.9,8.8,29.3,1.1,9.4,7.2,78.5,0.0,0.0,3.9,16.6,46.4,53.6,15158.26
1844,Bentley Academy Charter School,Salem,"K,01,02,03,04,05",13.6,16.3,72.8,12.5,3.1,48.6,32.7,0.0,0.0,3.1,15.4,51.4,48.6,NaN

In [8]:
# have a glimpse at 'data_dict' dataset

column_names.head()

          FIELD     MA DOE REPORT ORIGINAL FIELD NAME  YEAR
0   School Code  School Directory            Org Code  2017
1   School Name  School Directory            Org Name  2017
2   School Type  School Directory            Org Type  2017
3      Function  School Directory            Function  2017
4  Contact Name  School Directory        Contact Name  2017

In [9]:
column_names.loc[column_names['FIELD'] == '% MCAS_3rdGrade_Math_P+A']

,FIELD,MA DOE REPORT,ORIGINAL FIELD NAME,YEAR
98,% MCAS_3rdGrade_Math_P+A,MCAS Achievement Results (grade 3 English),P+A %,2016

In [10]:
columns = list(column_names['FIELD'])
print(columns)

['School Code', 'School Name', 'School Type', 'Function', 'Contact Name', 'Address 1', 'Address 2', 'Town', 'State', 'Zip', 'Phone', 'Fax', 'Grade', 'District Name', 'District Code', 'PK_Enrollment', 'K_Enrollment', '1_Enrollment', '2_Enrollment', '3_Enrollment', '4_Enrollment', '5_Enrollment', '6_Enrollment', '7_Enrollment', '8_Enrollment', '9_Enrollment', '10_Enrollment', '11_Enrollment', '12_Enrollment', 'SP_Enrollment', 'TOTAL_Enrollment', 'First Language Not English', '% First Language Not English', 'English Language Learner', '% English Language Learner', 'Students With Disabilities', '% Students With Disabilities', 'High Needs', '% High Needs', 'Economically Disadvantaged', '% Economically Disadvantaged', '% African American', '% Asian', '% Hispanic', '% White', '% Native American', '% Native Hawaiian, Pacific Islander', '% Multi-Race, Non-Hispanic', '% Males', '% Females', 'Total # of Classes', 'Average Class Size', 'Number of Students', 'Salary Totals', 'Average Salary', 'FTE Count', 'In-District Expenditures', 'Total In-district FTEs', 'Average In-District Expenditures per Pupil', 'Total Expenditures', 'Total Pupil FTEs', 'Average Expenditures per Pupil', '# in Cohort', '% Graduated', '% Still in School', '% Non-Grad Completers', '% GED', '% Dropped Out', '% Permanently Excluded', 'High School Graduates (#)', 'Attending Coll./Univ. (#)', '% Attending College', '% Private Two-Year', '% Private Four-Year', '% Public Two-Year', '% Public Four-Year', '% MA Community College', '% MA State University', '% UMass', 'AP_Test Takers', 'AP_Tests Taken', 'AP_One Test', 'AP_Two Tests', 'AP_Three Tests', 'AP_Four Tests', 'AP_Five or More Tests', 'AP_Score=1', 'AP_Score=2', 'AP_Score=3', 'AP_Score=4', 'AP_Score=5', '% AP_Score 1-2', '% AP_Score 3-5', 'SAT_Tests Taken', 'Average SAT_Reading', 'Average SAT_Writing', 'Average SAT_Math', 'MCAS_3rdGrade_Math_P+A #', '% MCAS_3rdGrade_Math_P+A', 'MCAS_3rdGrade_Math_A #', '% MCAS_3rdGrade_Math_A', 'MCAS_3rdGrade_Math_P #', '% MCAS_3rdGrade_Math_P', 'MCAS_3rdGrade_Math_NI #', '% MCAS_3rdGrade_Math_NI', 'MCAS_3rdGrade_Math_W/F #', '% MCAS_3rdGrade_Math_W/F', 'MCAS_3rdGrade_Math_Stud. Incl. #', 'MCAS_3rdGrade_Math_CPI', 'MCAS_3rdGrade_Math_SGP', 'MCAS_3rdGrade_Math_Incl. in SGP(#)', 'MCAS_4thGrade_Math_P+A #', '% MCAS_4thGrade_Math_P+A', 'MCAS_4thGrade_Math_A #', '% MCAS_4thGrade_Math_A', 'MCAS_4thGrade_Math_P #', '% MCAS_4thGrade_Math_P', 'MCAS_4thGrade_Math_NI #', '% MCAS_4thGrade_Math_NI', 'MCAS_4thGrade_Math_W/F #', '% MCAS_4thGrade_Math_W/F', 'MCAS_4thGrade_Math_Stud. Incl. #', 'MCAS_4thGrade_Math_CPI', 'MCAS_4thGrade_Math_SGP', 'MCAS_4thGrade_Math_Incl. in SGP(#)', 'MCAS_5thGrade_Math_P+A #', '% MCAS_5thGrade_Math_P+A', 'MCAS_5thGrade_Math_A #', '% MCAS_5thGrade_Math_A', 'MCAS_5thGrade_Math_P #', '% MCAS_5thGrade_Math_P', 'MCAS_5thGrade_Math_NI #', '% MCAS_5thGrade_Math_NI', 'MCAS_5thGrade_Math_W/F #', '% MCAS_5thGrade_Math_W/F', 'MCAS_5thGrade_Math_Stud. Incl. #', 'MCAS_5thGrade_Math_CPI', 'MCAS_5thGrade_Math_SGP', 'MCAS_5thGrade_Math_Incl. in SGP(#)', 'MCAS_6thGrade_Math_P+A #', '% MCAS_6thGrade_Math_P+A', 'MCAS_6thGrade_Math_A #', '% MCAS_6thGrade_Math_A', 'MCAS_6thGrade_Math_P #', '% MCAS_6thGrade_Math_P', 'MCAS_6thGrade_Math_NI #', '% MCAS_6thGrade_Math_NI', 'MCAS_6thGrade_Math_W/F #', '% MCAS_6thGrade_Math_W/F', 'MCAS_6thGrade_Math_Stud. Incl. #', 'MCAS_6thGrade_Math_CPI', 'MCAS_6thGrade_Math_SGP', 'MCAS_6thGrade_Math_Incl. in SGP(#)', 'MCAS_7thGrade_Math_P+A #', '% MCAS_7thGrade_Math_P+A', 'MCAS_7thGrade_Math_A #', '% MCAS_7thGrade_Math_A', 'MCAS_7thGrade_Math_P #', '% MCAS_7thGrade_Math_P', 'MCAS_7thGrade_Math_NI #', '% MCAS_7thGrade_Math_NI', 'MCAS_7thGrade_Math_W/F #', '% MCAS_7thGrade_Math_W/F', 'MCAS_7thGrade_Math_Stud. Incl. #', 'MCAS_7thGrade_Math_CPI', 'MCAS_7thGrade_Math_SGP', 'MCAS_7thGrade_Math_Incl. in SGP(#)', 'MCAS_8thGrade_Math_P+A #', '% MCAS_8thGrade_Math_P+A', 'MCAS_8thGrade_Math_A #', '% MCAS_8thGrade_Math_A', 'MCAS_8thGrade_Math_P #', '% MCAS_8thGrade_Math_P', 'MCAS_8thGrade_Math_NI #', '% MCAS_8thGrade_Math_NI', 'MCAS_8thGrade_Math_W/F #', '% MCAS_8thGrade_Math_W/F', 'MCAS_8thGrade_Math_Stud. Incl. #', 'MCAS_8thGrade_Math_CPI', 'MCAS_8thGrade_Math_SGP', 'MCAS_8thGrade_Math_Incl. in SGP(#)', 'MCAS_10thGrade_Math_P+A #', '% MCAS_10thGrade_Math_P+A', 'MCAS_10thGrade_Math_A #', '% MCAS_10thGrade_Math_A', 'MCAS_10thGrade_Math_P #', '% MCAS_10thGrade_Math_P', 'MCAS_10thGrade_Math_NI #', '% MCAS_10thGrade_Math_NI', 'MCAS_10thGrade_Math_W/F #', '% MCAS_10thGrade_Math_W/F', 'MCAS_10thGrade_Math_Stud. Incl. #', 'MCAS_10thGrade_Math_CPI', 'MCAS_10thGrade_Math_SGP', 'MCAS_10thGrade_Math_Incl. in SGP(#)', 'MCAS_3rdGrade_English_P+A #', '% MCAS_3rdGrade_English_P+A', 'MCAS_3rdGrade_English_A #', '% MCAS_3rdGrade_English_A', 'MCAS_3rdGrade_English_P #', '% MCAS_3rdGrade_English_P', 'MCAS_3rdGrade_English_NI #', '% MCAS_3rdGrade_English_NI', 'MCAS_3rdGrade_English_W/F #', '% MCAS_3rdGrade_English_W/F', 'MCAS_3rdGrade_English_Stud. Incl. #', 'MCAS_3rdGrade_English_CPI', 'MCAS_3rdGrade_English_SGP', 'MCAS_3rdGrade_English_Incl. in SGP(#)', 'MCAS_4thGrade_English_P+A #', '% MCAS_4thGrade_English_P+A', 'MCAS_4thGrade_English_A #', '% MCAS_4thGrade_English_A', 'MCAS_4thGrade_English_P #', '% MCAS_4thGrade_English_P', 'MCAS_4thGrade_English_NI #', '% MCAS_4thGrade_English_NI', 'MCAS_4thGrade_English_W/F #', '% MCAS_4thGrade_English_W/F', 'MCAS_4thGrade_English_Stud. Incl. #', 'MCAS_4thGrade_English_CPI', 'MCAS_4thGrade_English_SGP', 'MCAS_4thGrade_English_Incl. in SGP(#)', 'MCAS_5thGrade_English_P+A #', '% MCAS_5thGrade_English_P+A', 'MCAS_5thGrade_English_A #', '% MCAS_5thGrade_English_A', 'MCAS_5thGrade_English_P #', '% MCAS_5thGrade_English_P', 'MCAS_5thGrade_English_NI #', '% MCAS_5thGrade_English_NI', 'MCAS_5thGrade_English_W/F #', '% MCAS_5thGrade_English_W/F', 'MCAS_5thGrade_English_Stud. Incl. #', 'MCAS_5thGrade_English_CPI', 'MCAS_5thGrade_English_SGP', 'MCAS_5thGrade_English_Incl. in SGP(#)', 'MCAS_6thGrade_English_P+A #', '% MCAS_6thGrade_English_P+A', 'MCAS_6thGrade_English_A #', '% MCAS_6thGrade_English_A', 'MCAS_6thGrade_English_P #', '% MCAS_6thGrade_English_P', 'MCAS_6thGrade_English_NI #', '% MCAS_6thGrade_English_NI', 'MCAS_6thGrade_English_W/F #', '% MCAS_6thGrade_English_W/F', 'MCAS_6thGrade_English_Stud. Incl. #', 'MCAS_6thGrade_English_CPI', 'MCAS_6thGrade_English_SGP', 'MCAS_6thGrade_English_Incl. in SGP(#)', 'MCAS_7thGrade_English_P+A #', '% MCAS_7thGrade_English_P+A', 'MCAS_7thGrade_English_A #', '% MCAS_7thGrade_English_A', 'MCAS_7thGrade_English_P #', '% MCAS_7thGrade_English_P', 'MCAS_7thGrade_English_NI #', '% MCAS_7thGrade_English_NI', 'MCAS_7thGrade_English_W/F #', '% MCAS_7thGrade_English_W/F', 'MCAS_7thGrade_English_Stud. Incl. #', 'MCAS_7thGrade_English_CPI', 'MCAS_7thGrade_English_SGP', 'MCAS_7thGrade_English_Incl. in SGP(#)', 'MCAS_8thGrade_English_P+A #', '% MCAS_8thGrade_English_P+A', 'MCAS_8thGrade_English_A #', '% MCAS_8thGrade_English_A', 'MCAS_8thGrade_English_P #', '% MCAS_8thGrade_English_P', 'MCAS_8thGrade_English_NI #', '% MCAS_8thGrade_English_NI', 'MCAS_8thGrade_English_W/F #', '% MCAS_8thGrade_English_W/F', 'MCAS_8thGrade_English_Stud. Incl. #', 'MCAS_8thGrade_English_CPI', 'MCAS_8thGrade_English_SGP', 'MCAS_8thGrade_English_Incl. in SGP(#)', 'MCAS_10thGrade_English_P+A #', '% MCAS_10thGrade_English_P+A', 'MCAS_10thGrade_English_A #', '% MCAS_10thGrade_English_A', 'MCAS_10thGrade_English_P #', '% MCAS_10thGrade_English_P', 'MCAS_10thGrade_English_NI #', '% MCAS_10thGrade_English_NI', 'MCAS_10thGrade_English_W/F #', '% MCAS_10thGrade_English_W/F', 'MCAS_10thGrade_English_Stud. Incl. #', 'MCAS_10thGrade_English_CPI', 'MCAS_10thGrade_English_SGP', 'MCAS_10thGrade_English_Incl. in SGP(#)', 'Accountability and Assistance Level', 'Accountability and Assistance Description', 'School Accountability Percentile (1-99)', 'Progress and Performance Index (PPI) - All Students', 'Progress and Performance Index (PPI) - High Needs Students', 'District_Accountability and Assistance Level', 'District_Accountability and Assistance Description', 'District_Progress and Performance Index (PPI) - All Students', 'District_Progress and Performance Index (PPI) - High Needs Students']